/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Ronnyn Nordelo Styles para PC
   ========================================================================== */
  html{
    font-size: 62.5%;
  }
   body{
  background-color: #f4f4f4!important;
  font-family: 'Roboto', sans-serif;
}

:root{
  --violet-light: #a440af;
  --violet-medium:  #682d70;
  --violet-dark: #552d61;
  --violeta-very-dark:#391e41;

  --blue-light:#4f96e5;
  --blue-medium: #235D9D;
  --blue-dark: #0e234b;

  --gray-light: #eaeaea;
  --gray-medium: #bfbfbf;

  --gradient_violeta: linear-gradient(45deg,#1e1a3d,black);
  --gradient_violeta_trasp: linear-gradient(45deg, rgba(30, 26, 61, 0.6), rgba(0, 0, 0, 0.6));
}

h1{
    color: #235D9D;
    font-size: 28px; 
}
/*Navegation----------------------*/
nav{
  border-bottom: solid 0.5px rgba(255, 255, 255, 0.07);
  width: 100%;
  background-color: transparent;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

nav .nav_web{
  text-decoration: white underline;
}

nav div{
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  align-items: center;
}

nav img{
  width: 40px;
  height: 40px;
}

nav div a{
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

nav div button{
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0;
  border: none;
  background-color: initial;
}
nav div button:hover{
  color: blue;
}

nav div h2{
  font-size: 20px;
  margin-left: 20px;
  color: white;
  margin-bottom: 0;
}

.nav_bar_icon{
  display: none;
  margin-right: 12px;
}

.nav_logo{
  width: 30px;
  height: 30px;
}

.my_btn-close{
  width: 30px;
  height: 30px;
}
.offcanvas-header h4{
  font-weight: bold;
  margin-bottom: 0;
}
.offcanvas-body{
  display: flex;
  align-items:flex-start;
  flex-direction: column;
  text-align: left;
  padding-top: 0 !important;
}

.offcanvas-body ul li a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.offcanvas-body ul li button{
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
  background: initial;
  border: none;
}

.offcanvas-body ul{
  list-style: none;
  padding-left: 0px;
  padding-top: 0;
}

.offcanvas.offcanvas-start{
  width: 20rem !important;
}
.ul-offc{
  width: 100% ;
}
.ul-offc li{
  border-bottom: #999 solid 1px;
  padding: 1rem;
}
.li-first-canvas{
  padding-top: 0 !important;
}
.nav_icon{
  width: 27px;
  height: 27px;
  margin-right:8px;
  filter: invert(1);
}

.navigationBar_socialMedia{
 display: flex;
  margin-top: 20px;
  gap: 1.5rem;
}

.offcanvas hr{
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 0px;
}




/*Header----------------------*/
header{
  width: 100%;
  display: grid;
  background-size: cover;
}

.carousel-inner, .carousel-item{
  height: 100%;
}

.carousel-dark .carousel-control-prev-icon,
.carousel-dark .carousel-control-next-icon {
  width: 75px;
  height: 75px;
}

.carousel-dark .carousel-indicators [data-bs-target] {
  margin-bottom: 30px;
}

.carousel-caption{
  background: var(--gradient_violeta_trasp);
  color: white;
  align-self: center;
  top:0 !important;
  right: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  width: 100%;
  height: 100%;
}

.carousel-item img{
  width: 100%!important;
}

.carousel-caption h5{
  color: white;
  font-size: 30px;
  position: absolute;
  top: 35%;
  left: 15%;
  right: 15%;
}

.carousel-indicators{
  margin: 0 !important;
  flex-direction: column;
  align-items: center;
}

.carousel-indicators-items img{
  width: 100%;
  height: 50px;
}

.carousel-indicators-items{
  display: flex;
}

.carousel-indicators-changecolor{
  height: 50px;
  width: 100%;
}

.carousel-indicators-changecolor img{
  height: 50px;
  width: 100%;
}

.carousel-indicators-items{
  margin-bottom: 0px;
}




/*-----------------------------*/
.sectOffers{
  display: flex;
  overflow: scroll;
  width: 100%;
}

.sectOffers_card{
  width: 500px;
}

.sectOffers_card img{
  width: 100%;
  padding: 10px;
}





/*Enfoque------------------*/
.sectExplication{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectExplication  h2{
  color: #235D9D;
  font-size: 28px;
}

.sectExplication p{
 margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}



/*Cards----------------------*/
.sectCards{
  margin-top: 80px;
}

.cardM{
  align-items: center;
  margin-top: 64px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.23);
  display: flex;
}

.card_btnPhone{
  display: none;
}

.card_titulo{
  margin-top: 10px;
 display: flex;
  align-items: center;
  margin-left: 20px;
}

.card_titulo h2{
  color: #235D9D;
  margin-left: 12px;
}

.cardM p{
  margin-top: 24px;
  text-indent: 10px;
  text-align: justify;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 16px;
}

.cardM p strong{
  color: #235D9D;
}

.cardM:nth-child(1){
  flex-direction: row-reverse;
}
.cardM:nth-child(3){
  flex-direction: row-reverse;
}

.card_image{
  margin: 30px;
  border-radius: 8px;
  width: 300px;
  height: 200px;
}

.card_icon{
  width: 60px;
  height: 50px;
}

.card_titulo_desc{
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.card_btnPC{
  align-self: flex-end;
  margin: 40px;
  background-color: #4f96e5;
  color: white;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.23);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 20px;
  padding-left: 20px;
}





/*Trabajos fializados*/

.sectTrabFinalizados{
  margin-top: 60px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.sectTrabFinalizados h2{
  color: #235D9D;
  font-size: 28px;
}

.sectTrabFinalizados_cardsZone{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.sectTrabFinalizados_card{
  border-radius: 8px;
  background-color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.23);
  width: 25%;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectTrabFinalizados_card img{
  width: 90%;
  height: auto;
  border-radius: 10px;
}

.sectTrabFinalizados_card_imgs{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.sectTrabFinalizados_card_imgs img{
  width: 44%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.sectTrabFinalizados_card p{
  margin-left: 4%;
  margin-right: 4%;
  width: 92%;
  text-align: justify;
  margin-top: 12px;
}

.sectTrabFinalizados_card button{
  align-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #4f96e5;
  color: white;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.23);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 20px;
  padding-left: 20px;
}

.last-card button{
  margin-top: 40px;
  margin-bottom: 8px;
}

/*Footer-----------------------------------*/
footer{
  padding-top: 20px;
  align-items: flex-start;
  display: flex;
  justify-content: space-around;
  color: white;
  background: var(--gradient_violeta);
  padding-bottom: 20px;
}

footer a{
  color: white;
  text-decoration: none;
}

footer .footer_indice{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.footer_indice h3{
  font-size: 1.4rem;
}
footer .footer_indice a{
  margin-top: 8px;
}

footer .footer_indice button{
  margin-top: 8px;
  font-size: 16px;
  margin-bottom: 0;
  background: initial;
  border: none;
  padding: 0;
  color: white;
  display: flex;
  justify-content: flex-start;
}
footer .footer_indice button:hover{
  color:blue;
}
footer img{
  width: 120px;
  height: 120px;
}

.footer_contacto div{
  display: flex;
  align-items: center;
}

.footer_contacto div a{
  margin-left: 12px;
}
.footer_contacto h3{
  font-size: 1.4rem;
}
.footer_contacto div img{
  width: 28px;
  height: 28px;
}

.footer_icono{
 align-self: center;
}













/* ==========================================================================
 Ronnyn Nordelo Styles para Telefono
 ========================================================================== */
@media only screen and (max-width: 600px) {

  /*Navegation----------------------*/
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav .nav_inicio{
    text-decoration: white underline;
  }

  .nav_titulo{
    font-size: 14px;

  }

  nav div{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    align-items: center;
  }

  nav img{
    width: 30px;
    height: 30px;
  }

  nav div a{
    display: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 12px;
  }

  nav div button{
    display: none;
  }

  nav div h2{
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
  }

  .nav_bar_icon{
    display: block;
    margin-right: 12px;
  }






  /*Header----------------------*/
  #header{
    background-image: url("../img/header1_mobile.jpeg");
    height: 600px;
    width: 100%;
    display: grid;
    background-size: cover;
  }

  .header_color{
    background: var(--gradient_violeta_trasp);
    width: 100%;
    height: 600px;
    display: grid;
  }

  .header_color h1 {
    text-align: center;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    width: 80%;
    font-size: 20px;
  }

  .header_imgChange{
    width: 30%;
    height: 400px;
  }

  .header_color img{
    width: 50px;
    height: 50px;
  }

  #header_intercambio{
    width: 100%;
  }

  .header_color div:nth-child(1){
    display: flex;
    width: 100%;
    align-self: center;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
  }

  .header_color div:nth-child(2){
    align-self: end;
    justify-self: center;
    width: 100%;
  }





  /*Carousel and explanation*/
  .carousel-item img{
    width: 170%!important;
  }

  .carousel-item img{
    width: 170%!important;
  }

  .d-none{
    display: block!important;
  }

  .carousel-caption h5{
    text-align: center;
    font-size: 1rem;
    margin-right: 12px;
    margin-left: 12px;
  }

  .sectExplication p{
    font-size: 14px;
  }

  .carousel-indicators-changecolor{
    margin-bottom: -0.5px;
    margin-right: -0.5px;
  }

  .carousel-indicators-items{
    margin-bottom: -40px;
  }




  /*Cards----------------------*/

  .cardM{
    margin-top: 32px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: column-reverse;
  }

  .card_btnPhone{
    display: block;
    align-self: center;
    margin: 40px;
    background-color: #4f96e5;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.23);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .card_btnPC{
    display: none;
  }

  .card_titulo{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
  }

  .card_titulo h2{
    color: #235D9D;
    text-align: center;
    font-size: 24px;
    margin-left: 0;
  }

  .cardM p{
    text-indent: 10px;
    text-align: justify;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 14px;
  }

  .cardM p strong{
    color: #235D9D;
  }

  .cardM:nth-child(1){
    flex-direction: column-reverse;
  }
  .cardM:nth-child(3){
    flex-direction: column-reverse;
  }

  .card_image{
    margin: 10px;
    border-radius: 8px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 200px;
  }

  .cardM_icon{
    width: 80px;
    height: 70px;
  }

  .cardM_titulo_desc{
    margin: 10px;
  }


  /*Trabajos fializados*/

  .sectTrabFinalizados{
    margin-top: 60px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
  }

  .sectTrabFinalizados h2{
    color: #235D9D;
    width: 100%;
    text-align: center;
    font-size: 24px;
  }

  .sectTrabFinalizados_cardsZone{
    width: 100%;
    overflow: scroll;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    padding-bottom: 50px;
  }


  .sectTrabFinalizados_card{
    border-radius: 8px;
    background-color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.23);
    width: 280px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sectTrabFinalizados_card img{
    width: 250px;
    margin: 2px;
    height: 250px;
    border-radius: 10px;
    margin-top: 20px;
  }

  .sectTrabFinalizados_card_imgs{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    margin-top: 10px;
  }

  .sectTrabFinalizados_card_imgs img{
    width: 120px;
    margin: 2px;
    height: 240px;
    border-radius: 10px;
    object-fit: cover;
  }

  .sectTrabFinalizados_card p{
    margin-left: 8px;
    margin-right: 8px;
    width: 248px;
    text-align: justify;
  }

  .sectTrabFinalizados_card button{
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #4f96e5;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.23);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 20px;
    padding-left: 20px;
  }


  .last-card button{
    margin-top: 40px;
    margin-bottom: 38px;
  }


  /*Footer-----------------------------------*/
  footer{
    align-items: flex-start;
    background: var(--gradient_violeta);
    display: flex;
    justify-content: space-around;
    color: white;
    margin-top: 50px;
    padding-bottom: 20px;
  }

  footer a{
    color: white;
    text-decoration: none;
    font-size: 12px;
  }

  footer .footer_indice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: 0px 10px;
  }

  footer .footer_indice a{
    margin-top: 8px;
  }

  footer .footer_indice button{
    font-size: 12px;
  }
  footer img{
    width: 50px;
    height: 50px;
  }

  .footer_contacto div{
    display: flex;
    align-items: center;
    margin-top: 0px;
  }

  .footer_contacto div a{
    margin-left: 12px;
  }

  .footer_contacto div img{
    width: 28px;
    height: 28px;
  }

  .footer_icono{
    align-self: end;
    
  }


}
























/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}



/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border-top: 1px solid #999;
  margin: 1em 0;
  padding: 0;
  opacity: 1;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles  */


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }



}


 